.sidebar{
    border-right: 1px solid #c17dff;
    min-height: 100vh;
    padding: 20px;
    width: 200px;

    &__logo img{
        width: 100%;
    }

    &__submenu{
        padding: 0 10px;
    }

    &__link{
        display: block;
        padding: 5px 0;

        &--active{
            color: #ff5942 !important;
            pointer-events: none;
        }
    }
}