.toolbox{
    padding: 20px;

    & > div{
        display: inline-block;
        margin-right: 10px;
    }

    & > input{
        background-color: transparent;
        border: 2px solid #00c4b9;
        border-radius: 6px;
        color: #fff;
        height: 40px;
        text-indent: 10px;

        &:focus{
            outline: 0;
        }
    }
}