.box{
    border: 2px solid #00c4b9;
    border-radius: 6px;
    display: inline-block;
    margin: 10px;
    min-width: 300px;

    &__title{
        border-bottom: 2px solid #00c4b9;
        font-weight: 500;
        padding: 10px;
    }
    
    &__content{
        padding: 10px;
    }
    
    &__data{
        display: flex;
        justify-content: space-between;
    }
}