@import '@style/reset.scss';

html, body{
    color: #fff;
    background-color: #303144;
    font-family: 'Oxanium', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
}

.container{
    display: flex;

    &__right{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

.react-datepicker-wrapper{
    width: 250px;

    .react-datepicker__input-container input{
        background-color: transparent;
        border: 2px solid #00c4b9;
        border-radius: 6px;
        color: #fff;
        height: 40px;
        text-indent: 10px;
        width: 100%;
    }

    .react-datepicker__input-container input:focus{
        outline: 0;
    }
}