@import '~normalize-css';

html{
	box-sizing: border-box;
}

*,
*:before,
*:after{
	box-sizing: inherit;
}

html,
body,
ul,
ol,
p{
	padding: 0;
	margin: 0;
}

a,
a:hover,
a:focus{
	text-decoration: none;
	outline: 0;
	color: inherit;
}

button:focus{
	outline: 0;
}

li{
	list-style-type: none;
}

table{
	border-collapse: collapse;
	border-spacing: 0;
}